## Notebook used to merge seasonalities of ingredients.

In [36]:
import pandas as pd
import numpy as np
import random
import time
import math

In [60]:
df_saison = pd.read_csv('data/saison.csv')
df = pd.read_csv('data/data_mock_ingrédients.csv')

In [61]:
df_saison.head()

        Nom     Type     Mois Saison
0        Ail  Légume  Janvier  Hiver
1  Betterave  Légume  Janvier  Hiver
2    Carotte  Légume  Janvier  Hiver
3     Céleri  Légume  Janvier  Hiver
4       Chou  Légume  Janvier  Hiver

In [62]:
df.head()

,Produit,Unnamed: 1,ingredient_initial,pourcentage,ingredient_reco,similarity,carbon_emission,categorie,saison,carbon_emission_total
0,barre,0.0,flocon d'avoine,0.3,flocon d'avoine,1.000000,0.013000,NaN,NaN,NaN
1,barre,18.0,abricot,0.3,fraise,0.951731,0.143449,"['fruits, légumes, légumineuses et oléagineux'...",NaN,0.043035
2,barre,0.0,abricot,0.3,poire,0.992666,0.050273,"['fruits, légumes, légumineuses et oléagineux'...",NaN,0.015082
3,barre,1.0,abricot,0.3,goyave,0.991672,0.116000,NaN,NaN,0.034800
4,barre,11.0,abricot,0.3,cerise,0.969705,0.127000,NaN,NaN,0.038100

In [64]:
df_saison.columns = ['Nom', 'Type', 'Mois', 'Saison']

In [65]:
df_saison = df_saison.drop(columns = ['Mois'])

In [66]:
df_saison = df_saison.drop_duplicates()

In [67]:
df_saison

           Nom                    Type   Saison
0          Ail                  Légume    Hiver
1    Betterave                  Légume    Hiver
2      Carotte                  Légume    Hiver
3       Céleri                  Légume    Hiver
4         Chou                  Légume    Hiver
..         ...                     ...      ...
422  Féveroles  Céréale et légumineuse  Automne
423      Fèves  Céréale et légumineuse  Automne
425       Orge  Céréale et légumineuse  Automne
426       Pois  Céréale et légumineuse  Automne
427     Seigle  Céréale et légumineuse  Automne

[211 rows x 3 columns]

In [69]:
df_saison['ingredient_reco'] = df_saison['Nom'].str.lower()

In [72]:
df_bis = pd.merge(df,df_saison, on='ingredient_reco', how='left')

In [73]:
df_bis['saison'] = df_bis['Saison']

In [74]:
df_bis

,Produit,Unnamed: 1,ingredient_initial,pourcentage,ingredient_reco,similarity,carbon_emission,categorie,saison,carbon_emission_total,Nom,Type,Saison
0,barre,0.0,flocon d'avoine,0.3,flocon d'avoine,1.000000,0.013000,NaN,NaN,NaN,NaN,NaN,NaN
1,barre,18.0,abricot,0.3,fraise,0.951731,0.143449,"['fruits, légumes, légumineuses et oléagineux'...",Printemps,0.043035,fraise,Fruit,Printemps
2,barre,18.0,abricot,0.3,fraise,0.951731,0.143449,"['fruits, légumes, légumineuses et oléagineux'...",Eté,0.043035,fraise,Fruit,Eté
3,barre,0.0,abricot,0.3,poire,0.992666,0.050273,"['fruits, légumes, légumineuses et oléagineux'...",Hiver,0.015082,poire,Fruit,Hiver
4,barre,0.0,abricot,0.3,poire,0.992666,0.050273,"['fruits, légumes, légumineuses et oléagineux'...",Printemps,0.015082,poire,Fruit,Printemps
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN

In [75]:
df_bis = df_bis.drop(columns = ['Nom', 'Type', 'Saison'])

In [76]:
df_bis.to_csv('data/merged_mock_ingrédient.csv')